/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Reset block-level elements */
blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Reset table elements */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: sans-serif;
  margin: 3rem 3rem;
}

/* Custom styles */

/* Form design */
* {
  box-sizing: border-box;
}

.pageTitle {
  text-align: center; 
  margin-bottom: 1.25rem; 
  font-size: 2.3rem;
}

.form {
  display: flex; 
  flex-direction: column; 
}

.formContainer {
  border: 0.0625rem solid black; 
  padding: 0.625rem; 
  width: 50%; 
  margin: 0 auto; 
  overflow: auto; 
}

.inputContent {
  white-space: pre-wrap;
}

.inputTitle,
.inputContent {
  margin-bottom: 0.625rem; 
}

.errorMsg {
  color: red; 
  margin-bottom: 0.625rem;
}

/* Post design */

.postContainer {
  border: 0.0625rem solid black; 
  padding: 0.625rem; 
  width: 50%; 
  margin: 1rem auto; 
  overflow: auto; 
}

.postTitle {
  font-size: 1.2rem; 
  font-weight: bold;
  margin-bottom: 0.625rem; 
}

.postContent {
  margin-bottom: 0.625rem; 
  white-space: pre-wrap;
}

.postButton,
.editButton,
.deleteButton,
.updateButton,
.discardButton {
  margin-right: 0.6rem;
  float: right;
  cursor: pointer;
}

.postTitle {
  cursor: pointer;
}

/* General styles */

h1 {
  font-size: 2rem; 
  margin: 0.67rem 0; 
}
