/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  font-family: sans-serif;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Reset block-level elements */
blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Reset table elements */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Media query for screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
  html {
    font-size: 0.6rem;
  }
}

/* Media query for screens with a minimum width of 769px and a maximum width of 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 0.8rem;
  }
}

/* Media query for screens with a minimum width of 1025px */
@media screen and (min-width: 1025px) {
  html {
    font-size: 1rem;
  }
}

/* Custom styles */
/* Form design */

* {
  box-sizing: border-box;
}

#app{
  height: 80vh;
  margin: 4rem 4rem 0rem 4rem;
}

/* CSS for the navbar container */
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0.3rem;
  margin-bottom: 0.625rem;
}

.logged-in-label {
  margin-right: 1.5rem; 
  font-weight: bolder;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: rgb(255, 85, 85);
}

.logout-button {
  font-size: 0.8rem;
  border-radius: 0.3rem;
  margin-right: 0.625rem;
  background-color: white;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-container {
  border: 0.0625rem solid black;
  border-radius: 0.3rem;
  padding: 0.625rem;
  width: 80%;
  margin: 0 auto 1rem;
  overflow: auto;
}

.input-content {
  white-space: pre-wrap;
}

.input-title,
.input-content {
  border-radius: 0.3rem;
  font-size: 1rem;
  margin-bottom: 0.625rem;
  padding: 0.4rem;
  resize: none;
  border: none;
  outline: none; 
  border: 1px solid #ccc;
}

.input-title::placeholder,
.input-content::placeholder {
  color: rgb(255, 85, 85);
}

.character-count{
  float: right;
  font-size: 0.8rem;
  margin-top: 0.4rem;
  margin-right: 0.4rem;
}

.character-count {
  color: black; 
}

.character-count.red {
  color: red; 
}

.error-msg {
  color: red;
}

/* Post design */

.post-container {
  border: 0.0625rem solid black;
  border-radius: 0.3rem;
  padding: 0.625rem;
  width: 80%;
  margin: 0 auto 1rem;
  overflow: auto;
}

.post-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.625rem;
}

.post-content {
  margin-bottom: 0.625rem;
  white-space: pre-wrap;
}

.post-button,
.edit-button,
.delete-button,
.update-button,
.discard-button {
  font-size: 0.8rem;
  margin-right: 0.5rem;
  float: right;
  cursor: pointer;
}

.post-title {
  cursor: pointer;
}

/* Post categories */
.categories-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.625rem;
}

.categories-container input[type="checkbox"]:first-child {
  appearance: none;
  width: 0.8rem;
  height: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-block: 0;
  margin-inline: 0 0.4rem;
}

.categories-container input[type="checkbox"]:not(:first-child) {
  appearance: none;
  width: 0.8rem;
  height: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-block: 0;
  margin-inline: 0.4rem;
}

.categories-container input[type="checkbox"]:checked {
  background-color: rgb(25, 195, 125);
}

input[type="checkbox"].disabled + label {
  color: #A9A9A9; 
  cursor: not-allowed;
}

input[type="checkbox"].disabled {
  cursor: not-allowed;
}

.post-categories-container {
  display: flex;
  flex-wrap: wrap;
}

.category-label:first-child {
  border-radius: 0.2rem;
  margin-inline: 0 0.4rem;
  margin-bottom: 0.625rem;
  background-color: rgb(25, 195, 125);
  padding: 0.2rem;
  color: white;
}

.category-label:not(:first-child) {
  border-radius: 0.2rem;
  margin-inline: 0.4rem;
  margin-bottom: 0.625rem;
  background-color: rgb(25, 195, 125);
  padding: 0.2rem;
  color: white;
}

/* General styles */
h1 {
  font-size: 2rem;
  margin: 0.67rem 0;
}

/* Register */
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; 
}

.register-form {
  width: 100%;
  max-width: 18.75rem;
  border: 0.0625rem solid black;
  border-radius: 0.3rem;
  padding: 1.25rem;
  text-align: center;
  position: relative;
}

.register-form input {
  width: 100%;
  max-width: 18.75rem;
  margin-bottom: 0.625rem;
  padding: 0.3125rem;
  border: 0.0625rem solid black;
}

.gender-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.625rem;
}

.gender-container input[type="checkbox"] {
  appearance: none;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid #818486;
  cursor: pointer;
  margin: 0;
}

/* Style the custom checkbox when checked */
.gender-container input[type="checkbox"]:checked {
  background-color: #818486;
}

.gender-container label {
  margin: 0;
  padding-left: 0.3rem;
  color: #818486;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 0.9rem;
  cursor: pointer;
}

/* Hide the default checkbox appearance */
.gender-container input[type="checkbox"]::-webkit-inner-spin-button,
.gender-container input[type="checkbox"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
.gender-container input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.register-button {
  width: 100%;
  max-width: 18.75rem;
  margin-bottom: 0.625rem;
  padding: 0.3125rem;
}

/* Terms and Privacy Policy*/
.terms-text {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.7rem;
}

a.terms-link,
a.privacy-link {
  font-weight: 400;
  text-decoration: underline; 
  color: #1e90ff; 
}

.separator {
  border-top: 0.0625rem solid #d1d7dc;
  margin: 0.6rem 0;
}

/* Register page Login */
.login-text {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.7rem;
}

a.login-link{
  font-weight: 800;
  text-decoration: underline; 
  color: #1e90ff; 
  cursor: pointer;
}

/* Login */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login-form {
  width: 100%;
  max-width: 18.75rem;
  border: 0.0625rem solid black;
  border-radius: 0.3rem;
  padding: 1.25rem;
  text-align: center;
  position: relative;
}

.login-form input {
  width: 100%;
  max-width: 18.75rem;
  margin-bottom: 0.625rem;
  padding: 0.3125rem;
  border: 0.0625rem solid black;
}

.login-button {
  width: 100%;
  max-width: 18.75rem;
  margin-bottom: 0.625rem;
  padding: 0.3125rem;
}

/* Terms and Privacy Policy */
.terms-text {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.7rem;
}

a.terms-link,
a.privacy-link {
  font-weight: 400;
  text-decoration: underline;
  color: #1e90ff;
}

.separator {
  border-top: 0.0625rem solid #d1d7dc;
  margin: 0.6rem 0;
}

/* Login page Login */
.register-text {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.7rem;
}

a.register-link {
  font-weight: 800;
  text-decoration: underline;
  color: #1e90ff;
}

/* Comment input container */
.comment-input-container {
  margin: 1rem auto;
  width: 80%;
  overflow: auto;
}

.comment-input {
  border: 0.0625rem solid #d1d7dc;
  border-radius: 0.3rem;
  padding: 0.4rem;
  resize: none;
  overflow: auto;
}

.comment-button {
  font-size: 0.8rem;
  margin: 0.4rem 1rem 0.4rem 1rem;
  float: right;
  cursor: pointer;
}

/* Comment */
.comment-component {
  border: 0.0625rem solid black;
  border-radius: 0.3rem;
  margin: 1rem auto;
  width: 80%;
  margin-bottom: 0.625rem;
  padding: 0.625rem;
}

.author {
  font-weight: bold;
  margin-bottom: 0.625rem;
}

.comment {
  margin: 0.625rem 0;
}

.created-at {
  margin-bottom: 0.625rem;
  font-size: 0.8rem;
}

/* Chats and messenger*/
#content-container {
  float: left;
  width: 80%;
  height: 80vh;
  overflow: auto;
}

.chats {
  float: right;
  width: 20%;
  height: 80vh;
  position: relative;
}

.chats-container {
  border: 0.0625rem solid black;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 80vh;
  border-radius: 0.3rem;
  float: right;
  width: 90%;
  overflow: auto;
  position: absolute;
  bottom : 0rem;
  right: 0rem;
  overflow-y: auto;
}

.messenger {
  display: none;
  border: 0.0625rem solid black;
  border-radius: 0.3rem;
  position: absolute;
  float: left;
  width: 50%;
  bottom : 0rem;
  cursor: pointer;
}

.messenger-header {
  display: none;
  padding: 0.625rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.messenger-name-with-last-seen {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.messenger-name {
  font-weight: bold;
  font-size: 1rem;
  margin-right: auto; 
}

.messenger-last-seen {
  font-size: 0.8rem;
  font-weight: lighter;
  color: rgb(101, 103, 107);
}

.messenger-close-button {
  margin-left: 0.5rem;
}

.messenger-status {
  font-size: 0.8rem;
}

.messenger-body {
  display: none;
  height: 20vh;
  width: 100%;
  overflow: auto; 
}

.input-container {
  display: none;
  align-items: center; 
}

.messenger-input{
  border: 0.0625rem solid #d1d7dc;
  border-radius: 0.3rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.4rem;
  width: 75%;
  overflow: auto;
  resize: none;
  font-size: 0.8rem;
  white-space: pre-wrap;
}

.message-send-button {
  margin-right: 0.3rem;
  margin-left: 0.3rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  width: 18%;
  overflow: auto;
  resize: none;
  font-size: 0.8rem;
  cursor: pointer; 
}

.send-button-active {
  background-color: rgb(25, 195, 125);
  color: #fff;
  cursor: pointer;
  border-radius: 0.3rem;
  border: none;
}
/* Chat in messenger */
.chat-messages {
  text-align: right;
  border-radius: 0.4rem;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  max-height: 20vh; 
  overflow-y: auto;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.625rem;
  padding-bottom: 0.325rem;
}

.message-content{
  padding: 0.3rem 0.3rem;
  border-radius: 0.3rem;
  display: inline-block;
  max-width: 10rem;
}

.message {
  text-align: start;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0.1rem 0;
}

.sender-message {
  display: flex;
  flex-direction: column; 
  align-items: flex-end; 
  text-align: right;
  margin: 0.1rem 0;
  width: 95%;
}
  
.recipient-message {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  text-align: left;
  margin: 0.1rem 0;
  width: 95%;  
}

.sender-message .message-content {
  background-color: #1e90ff; 
  color: white; 
}

.recipient-message .message-content {
  background-color: #F0F2F5; 
  color: #65676B;
}

.date-container {
  font-size: 0.6rem;
  color: #cfd0d1;
  margin-top: 0.2rem;
  margin-bottom: 0.3rem;
  border-radius: 0.3rem;
  text-align: center;
}

.time-container {
  font-size: 0.6rem;
  color: #cfd0d1;
  margin-top: 0.2rem;
  border-radius: 0.3rem;
}

/* Chat header */
.chats-header {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 0.3rem 0rem 0rem 0rem;
}

/* Chat list */ 
.chat {
  border: 0.0625rem solid black;
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 0.625rem;
  margin: 0.3rem 0.3rem;
}

.chat-name-with-last-seen {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-name {
  font-size: 1rem;
}

.chat-last-seen {
  font-size: 0.8rem;
  font-weight: lighter;
  color: rgb(101, 103, 107);
  margin-left: 0.5rem;
}

.messenger-close-button{
  color: rgb(101, 103, 107);
}

.chat-status {
  font-size: 0.8rem;
}

.chat-status.online,
.messenger-status.online {
  color: rgb(25, 195, 125);
}

.chat-status.offline,
.messenger-status.offline {
  color: rgb(255, 85, 85); 
}

.messenger-hidden {
  display: none;
}

.no-users-text {
  text-align: center;
  font-size: 0.8rem;
  color: rgb(255, 85, 85); 
  margin: 0rem 0rem 0.3rem 0rem;
}
