/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  font-family: sans-serif;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Reset block-level elements */
blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Reset table elements */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: sans-serif;
  margin: 3rem 3rem;
}

/* Custom styles */
/* Form design */

*{
  box-sizing: border-box;
}
.page-title {
  text-align: center;
  margin-bottom: 1.25rem;
  font-size: 2.3rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-container {
  border: 0.0625rem solid black;
  padding: 0.625rem;
  width: 50%;
  margin: 0 auto;
  overflow: auto;
}

.input-content {
  white-space: pre-wrap;
}

.input-title,
.input-content {
  margin-bottom: 0.625rem;
}

.error-msg {
  color: red;
  margin-bottom: 0.625rem;
}

/* Post design */

.post-container {
  border: 0.0625rem solid black;
  padding: 0.625rem;
  width: 50%;
  margin: 1rem auto;
  overflow: auto;
}

.post-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.625rem;
}

.post-content {
  margin-bottom: 0.625rem;
  white-space: pre-wrap;
}

.post-button,
.edit-button,
.delete-button,
.update-button,
.discard-button {
  margin-right: 0.6rem;
  float: right;
  cursor: pointer;
}

.post-title {
  cursor: pointer;
}

/* General styles */

h1 {
  font-size: 2rem;
  margin: 0.67rem 0;
}

/* Register */

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; 
}

.register-form {
  width: 100%;
  max-width: 300px;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  position: relative;
}

.register-form input {
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid black;
}

.register-button {
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
  padding: 5px;
}

/* Terms and Privacy Policy*/
.terms-text {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.7rem;
}

a.terms-link,
a.privacy-link {
  font-weight: 400;
  text-decoration: underline; 
  color: #1e90ff; 
}

.separator {
  border-top: 1px solid #d1d7dc;
  margin: 0.6rem 0;
}

/* Register page Login */
.login-text {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.7rem;
}

a.login-link{
  font-weight: 800;
  text-decoration: underline; 
  color: #1e90ff; 
  cursor: pointer;
}

/* Login */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login-form {
  width: 100%;
  max-width: 300px;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  position: relative;
}

.login-form input {
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid black;
}

.login-button {
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
  padding: 5px;
}

/* Terms and Privacy Policy */
.terms-text {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.7rem;
}

a.terms-link,
a.privacy-link {
  font-weight: 400;
  text-decoration: underline;
  color: #1e90ff;
}

.separator {
  border-top: 1px solid #d1d7dc;
  margin: 0.6rem 0;
}

/* Login page Login */
.register-text {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.7rem;
}

a.register-link {
  font-weight: 800;
  text-decoration: underline;
  color: #1e90ff;
}